<div style="width: 100%; display: flex;flex-direction: column; align-items: center; justify-content: center;">
    <h1>ORDENES: </h1>
    <div style="width: 90%; ">
        <mat-table [dataSource]="dataSourceOrdenes" class="mat-elevation-z8">
            <ng-container matColumnDef="nroOrden">
              <mat-header-cell *matHeaderCellDef class="td">Nro.</mat-header-cell>
              <mat-cell *matCellDef="let elemento"> {{ elemento.id }} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="cliente">
              <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
              <mat-cell *matCellDef="let elemento"> {{ elemento.vehiculo.cliente.apellido + ', ' + elemento.vehiculo.cliente.nombre }} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="vehiculo">
                <mat-header-cell *matHeaderCellDef>Vehiculo</mat-header-cell>
                <mat-cell *matCellDef="let elemento"> {{ elemento.vehiculo.patente + ' ' + elemento.vehiculo.marca.nombre + ', ' + elemento.vehiculo.modelo.nombre }} </mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="fechaIngreso">
                <mat-header-cell *matHeaderCellDef>Fecha Ingreso</mat-header-cell>
                <mat-cell *matCellDef="let elemento"> {{ elemento.fechaIngreso | date:"dd/MM/yyyy"}} </mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="tecnico">
                <mat-header-cell *matHeaderCellDef>Tecnico</mat-header-cell>
                <mat-cell *matCellDef="let elemento"> {{ elemento.tecnico.apellido + ', ' + elemento.tecnico.nombre }} </mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                <mat-cell *matCellDef="let elemento"> {{ elemento.estado}} </mat-cell>
              </ng-container>
          
            <!-- Define las columnas de la tabla -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
    </div>
</div>
